table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body{
  background-color: #F0F0F0;

}
#panel,#panel2,#panel3, #flip3,#flip2, #flip {
    padding: 5px;
    text-align: center;

    border: solid 1px #c3c3c3;
}

#panel,#panel2,#panel3 {
    padding: 50px;
    display: none;
}
